<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Project Seeker<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>

          

          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
        
          <li><a routerLink="/team">Team</a></li>
          <li><a routerLink="/login">Login Form</a></li>
          <li><a routerLink="/ragistration">Ragistration</a></li>
          <li><a routerLink="/admin">Admin Login</a></li>
          <li><a routerLink="/company">Company</a></li>
          <li><a routerLink="/seeker">Seeker</a></li>
          <li><a routerLink="/uploadcotation">Upload Cotation</a></li>
          
           
          
           
          
         
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

     

    </div>
  </header><!-- End Header -->

  <section id="hero-static" class="hero-static d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <h2>Welcome to <span>Project Seeker</span></h2>
      <p>Project Seeker is a thought a required poeple.</p>
      
    </div>
  </section>

  

<router-outlet></router-outlet>

