<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Computer based Project seeker website is to replace manual operation of IT company. Project developers Now a days the necessity of executing things increasing rapidly in our daily activities</p>
      </div>

      <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-5">
          <div class="about-img">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-7">
          

          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Our Features</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Jobs</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Customers</a></li>
          </ul><!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">

              <p class="fst-italic">And this is turn made great changes in many works feild and out of them Project Seeker.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Project Seeker and Project developers can meet in plateform.</h4>
              </div>
              <p>In our plateform project seeker and project developers can meet.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>If you want to developed their project can post on the plateform.</h4>
              </div>
              <p>On this plateform who want to developed their project he/she can post his/ her requirement on the plateform</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>In this plateform feerlancer can upload quotation.</h4>
              </div>
              <p>Freelancer can search project according of their skilled and they can bidding on this project.</p>

            </div><!-- End Tab 1 Content -->

            <div class="tab-pane fade show" id="tab2">

              <p class="fst-italic">And this is turn made great changes in many works feild and out of them Project Seeker.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Project Seeker and Project developers can meet in plateform.</h4>
              </div>
              <p>In our plateform project seeker and project developers can meet.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>If you want to developed their project can post on the plateform.</h4>
              </div>
              <p>On this plateform who want to developed their project he/she can post his/ her requirement on the plateform</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>In this plateform feerlancer can upload quotation.</h4>
                
              </div>
              <p>Freelancer can search project according of their skilled and they can bidding on this project.</p>

            </div><!-- End Tab 2 Content -->

            <div class="tab-pane fade show" id="tab3">

              <p class="fst-italic">And this is turn made great changes in many works feild and out of them Project Seeker.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Project Seeker and Project developers can meet in plateform.</h4>
              </div>
              <p>In our plateform project seeker and project developers can meet</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>If you want to developed their project can post on the plateform.</h4>
              </div>
              <p>On this plateform who want to developed their project he/she can post his/ her requirement on the plateform.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>In this plateform feerlancer can upload quotation.</h4>
              </div>
              <p>Freelancer can search project according of their skilled and they can bidding on this project.</p>

            </div><!-- End Tab 3 Content -->

          </div>

        </div>

      </div>

    </div>
  </section><!-- End About Section -->

