<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Our Services</h2>
      <p>Ea vitae aspernatur deserunt voluptatem impedit deserunt magnam occaecati dssumenda quas ut ad dolores adipisci aliquam.</p>
    </div>

    <div class="row gy-5">

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="service-item">
          <div class="img">
            <img src="assets/img/images/java.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Java</h3>
            </a>
            <p>Java is a high level,class based,object - oriented programming language that is designed to have as few implementation.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="service-item">
          <div class="img">
            <img src="assets/img/images/React.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>React</h3>
            </a>
            <p>React is a free and open-source front-end JavaScript library for building user interface based on UI components. It is maintained by mete and a community.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="service-item">
          <div class="img">
            <img src="assets/img/images/php.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>PHP</h3>
            </a>
            <p>PHP is a general - purpose scripting language geared toward web development.It was originally created by Danish-Canadian programmer Rasmus Lerdorf in 1994.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
        <div class="service-item">
          <div class="img">
            <img src="assets/img/images/Javascript.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>JavaScript</h3>
            </a>
            <p>Javascript,often abbreviated JS,is a programming language that is one of the core technologies of th world Wide Web,alongside HTML and CSS.</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="service-item">
          <div class="img">
            <img src="assets/img/images/python.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Python</h3>
            </a>
            <p>Python is high level programming language.Its design philosophy emphasizes code readability with the use of significant.</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div><!-- End Service Item -->


      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="service-item">
          <div class="img">
            <img src="assets/img/images/Sql.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>SQL</h3>
            </a>
            <p>SQL is a domain-specific language used in programming and designed for managing data held in a relational database System.</p>
            <a href="#" class="stretched-link"></a>
        </div>
        </div>
      </div><!-- End Service Item -->

