<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style type="text/css">
  
  h2
  {
    margin-bottom: 20px;
  }

</style>

<body>
<div class="row">
  <div class="col-sm-3"></div>

<div class="col-sm-6" style="margin-top: 10px;">
<form class="form-horizontal" action="/action_page.php" >

<div style="border-style: outset;">
 
 <div class="row" >
<div align="center">
<h2>Upload Cotation</h2>
</div>
</div>

  <div class="form-group" >
    <label class="control-label col-sm-4" for="name" > Project ID:</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
    </div>
  </div>

  <div class="form-group" >
      <label class="control-label col-sm-4" for="name" > Project Name:</label>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
      </div>
    </div>

  

  <div class="form-group">
    <label class="control-label col-sm-4" for="email">Plateform Prapase:</label>
   
    <div class="col-xs-6">
   
      <select class="form-control">
        <option>select-platform</option>
        <option>Angular</option>
        <option>PHP</option>
        <option>JAVA</option>
        <option>.NET Framwork</option>
        <option>React</option>
        <option>Python</option>
        <option>Flutter</option>
        <option>C++</option>
        <option>Java Sript</option>
        <option>Ruby</option>
        <option>Kotlin</option>
        <option>Swift</option>
        <option>Perl</option>
        <option>SQL</option>
        <option>Objective-C</option>
        <option>Rust</option>
        <option>Lisp</option>
        <option>COBOL</option>
        <option>Fortarn</option>
        <option>Type Script</option>
        <option>Dart</option>
        <option>Ada</option>
        <option>C#</option>
        <option>Data flex</option>
        <option>J#</option>
        <option>J++</option>
        <option>Java FX Script</option>
        <option>Joule</option>
        <option>JScript.NET</option>
        <option>Jython</option>
      </select>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-4" for="email">DataBase Prapase:</label>
    <div class="col-xs-6">
   
      <select class="form-control">
        <option>select-platform</option>
        <option>My SQL</option>
        <option>Microsoft SQL Server</option>
        <option>Postgre SQL</option>
        <option>Maria DB</option>
        <option>Mongo DB</option>
        <option>Redis</option>
        <option>Oracle Database</option>
        <option>SQLite</option>
        <option>IBM DB2</option>
        <option>Apache Cassandra</option>
        <option>Elasticsearch</option>
        <option>Microsoft Azure SQL Database</option>
        <option>Amazon Dynamo DB</option>
        <option>Couch DB</option>
        <option>Couchbase Server</option>
        <option>Orient DB</option>
        <option>Microsoft Access</option>
        <option>InterBase</option>
        <option>Arango DB</option>
        <option>Cosmos DB</option>
        <option>Berkeley DB</option>
        <option>Soild DB</option>
        <option>Rethink DB</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-4" for="time">Time:</label>
    <div class="col-xs-6">
      <input type="month" class="form-control" id="text" placeholder="Enter month" name="month">
    </div>
  </div>

  <div class="form-group">
      <label class="control-label col-sm-4" for="email">Costing:</label>
      <div class="col-xs-6">
        <input type="text" prefix="$" mask="seprator.2" thousandSeprator="," class="form-control" id="text" placeholder="Enter Rupees" name="Rupees">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="email">Discreption:</label>
      <div class="col-xs-6">
        <textarea class="form-control" rows="5" cols="20" name="requirements">
          </textarea>
      </div>
    </div>

  <div class="form-group">        
    <div class="col-sm-offset-8 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>
</form>
</div>
<div>
<div class="col-sm-3"></div>
</div>
</div>
